<p>
  <b>Title:</b>
  <%=h @color.title %>
</p>

<p>
  <b>Red:</b>
  <%=h @color.red %>
</p>

<p>
  <b>Green:</b>
  <%=h @color.green %>
</p>

<p>
  <b>Blue:</b>
  <%=h @color.blue %>
</p>

<p>
  <b>Alpha:</b>
  <%=h @color.alpha %>
</p>


<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>