<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Visible</th>
    <th>Completed</th>
    <th>Priority</th>
  </tr>
  <tr>
	<td colspan=8>
	  <hr>
	</td>
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td><b><%=h project.name %></b></td>
    <td><%=h project.description %></td>
    <td><%=h project.visible %></td>
    <td><%=h project.completed %></td>
    <td><%=h project.priority %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
	<td colspan=8>
	  <hr>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>