<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Visible:</b>
  <%=h @project.visible %>
</p>

<p>
  <b>Completed:</b>
  <%=h @project.completed %>
</p>

<p>
  <b>Priority:</b>
  <%=h @project.priority %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>