<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Projects | Niels Joubert | njoubert.com</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<hr />

<% if @user %>
	<p>
	<%= "User: #{@user.name}" %><br />
	<%= "Is admin: #{@user.admin} "%><br />
	<%= "IP Address: #{@application_session.ip_address}" %><br />
	<%= "Path: #{@application_session.path}"%><br />
	<%= link_to 'Logout', @application_session, :confirm => 'Are you sure?', :method => :delete %>
	</p>
<% else %>
	<p>
	<%= link_to "Login", :controller => 'sessions' %>
	</p>
<% end %>
</body>
</html>
