<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Burble | Group Coordination Simplified</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }
      
      h1 {
        font-size: 28px;
        color: #000;
      }
      
      a  {color: #03c}
      a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }
      
      
      #page {
        background-color: #f0f0f0;
        width: 750px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }
      
      #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 500px;
      }
      
      #sidebar {
        float: right;
        width: 175px;
        padding-top: 60px;
      }

      #footer {
        clear: both;
      }
      

      #header, #about, #getting-started {
        padding-left: 75px;
        padding-right: 30px;
      }

      #header {
        background-image: url("/images/Icon1.png");
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
      }
      #header h1, #header h2 {margin: 0}
      #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }
      
      
      #about h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 14px;
      }
      
      #about-content {
        background-color: #ffd;
        border: 1px solid #fc0;
        margin-left: -11px;
      }
      #about-content table {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 11px;
        border-collapse: collapse;
      }
      #about-content td {
        padding: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      #about-content td.name  {color: #555}
      #about-content td.value {color: #000}
      
      #about-content.failure {
        background-color: #fcc;
        border: 1px solid #f00;
      }
      #about-content.failure p {
        margin: 0;
        padding: 10px;
      }

      #getting-started {
        border-top: 1px solid #ccc;
        margin-top: 25px;
        padding-top: 15px;
      }
      #getting-started h1 {
        margin: 0;
        font-size: 20px;
      }
      #getting-started h2 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        color: #333;
        margin-bottom: 25px;
      }
      #getting-started ol {
        margin-left: 0;
        padding-left: 0;
      }
      #getting-started li {
        font-size: 18px;
        color: #888;
        margin-bottom: 25px;
      }
      #getting-started li h2 {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        color: #333;
      }
      #getting-started li p {
        color: #555;
        font-size: 13px;
      }
      
      
      #search {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 11px;
      }
      #search input {
        font-size: 11px;
        margin: 2px;
      }
      #search-text {width: 170px}
      
      
      #sidebar ul {
        margin-left: 0;
        padding-left: 0;
      }
      #sidebar ul h3 {
        margin-top: 25px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
      #sidebar li {
        list-style-type: none;
      }
      #sidebar ul.links li {
        margin-bottom: 5px;
      }

	hr {
		margin-top: 2px;
		padding: 0px;
		color: #ccc;
		background-color: #ccc;
		height: 1px;
		border: 0px;
	}
	
	  #flash {
  	background: #FFF6BF;
  	border-top: 2px solid #FFD324;
  	border-bottom: 2px solid #FFD324;
  	text-align: center;
  	margin: 10px auto;
  	padding: 5px 20px;
  	}
  	
    .fieldWithErrors {
      padding: 2px;
      background-color: red;
      display: table;
    }
      
    </style>
    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
 
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
			<h3>Beta Tester Signup!</h3>
			<p>We're looking for iPhone and iPod touch users to use our app before it's in the app store. Sign up!</p>
			<% form_for :beta_tester do |form| %>
			  <p><center><%= form.label 'Email:' %><br/><%= form.text_field :email, :size => 20 %></center> </p>
			  <p><center><%= form.label 'Device:' %> <br/><%= form.select :device, [['iPhone', 'iPhone'],['iPod Touch','iPod Touch']] %></p>
			  <p><center><%= submit_tag 'Sign up!' %></center></p>
			<% end %>
			</li>
			
			<br/>
			<br/>
			<hr>
			<li>
			<b>Current Database Stats: </b>
			<p>
			<table cellspacing=0 cellpadding=0>
			  <tr>
					<td># of Beta Testers:&nbsp</td>
					<td><%= @betaTesterCount %></td>
				</tr>
				<tr>
					<td># of People:&nbsp</td>
					<td><%= @personCount %></td>
				</tr>
				<tr>
					<td># of Groups:&nbsp</td>
					<td><%= @groupCount %></td>
				</tr>
				<tr>
					<td># of Waypoints:&nbsp</td>
					<td><%= @waypointCount %></td>
				</tr>
				<tr>
					<td># of Positions:&nbsp</td>
					<td><%= @positionCount %></td>
				</tr>
			</table>
			</p>
			<p>
			Yea it's empty. As Talib Kweli said: "It'll be done when it's done!"
			</p>
			
			
		  </li>

        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>Welcome to Burble</h1>
          <h2><b>Burble</b> <i>n.</i> A rapid, excited flow of speech, like from a group of people.</h2>
        </div>
        
        <div id="getting-started">
          <% if flash.length > 0 -%>
          <div id="flash">
            <% flash.each do |key, value| -%>
              <div id="flash_<%= key %>"><%=h value %></div>
            <% end -%>
          </div>
          <% end -%>
          <h1>Here's what's up</h1>
          <h2>You landed on our web page, so how come there's not more here?</h2>
          
          <ul>  
	        <li>
				<h2>We simplify group coordination!</h2>
				<p>We simplify the coordination of people participating in a group activity - whether it's snowboarding, going on vacation, or attending live shows.</p>
			</li>
            <li>
              <h2>We're an iPhone app!</h2>
              <p>The main purpose of this site is to serve content to users of our iPhone app.</p>
            </li>
            
            <li>
              <h2>We haven't launched yet!</h2>
              <p>We're hard at work hacking, designing, user-studying, prototyping and other fun stuff. We'll be up by December 2009! Just in time for holiday traveling.</p>
            </li>

            <li>
              <h2>Yep, this is for school!</h2>
              <p>We're a bunch of Stanford students working on this for our <a href="http://hci.stanford.edu/cs147/">HCI class</a>, but we do plan to keep things running once the semester is done!</p>
            </li>
          </ul> -Niels, Chris, Jon and Janelle
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>